body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Dashboard-Styles */
/*.dashboard-container {

}

.sidebarLeft {

}

.main-content {

}

.footer {

}

/* Kanban Board Styles */
/*.kanban-container {

}

.user-profile {

}

.user-avatar {

}

.user-info {

}

.user-name {

}

.sign-out {

}

.sign-out:hover {

}

/* Responsive Design Dashboard */
/*@media (max-width: 768px) {
  .dashboard-container {

  }
  
  .sidebar {

  }
  
  .text {

  }
  
  .user-profile {

  }
  
  .main-content {

  }
  
  .top-bar {

  }
}*/

